.round-buttons-div {
	margin-top: 1.6%;
	width:100%;
}

.round-buttons-line {
	margin: 0 auto;
	width: 50%;
}

.round-button {
	width:36%;
	display: inline-block;
	margin:0 15px 0 15px;
	vertical-align: top;
}

.round-button-circle {
	width: 100%;
	height:0;
	padding-bottom: 100%;
    border-radius: 50%;
    overflow:hidden;
    background: #F7BE81; 
    box-shadow: 0 0 3px gray;
}

.round-button:hover {
   
}
.round-button-circle:hover {
	background:#FAAC58;
}
.round-button a {
    display:block;
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;
	text-align:center;
	color:#e2eaf3;
    font-family:Verdana;
    font-size:1em;
    font-weight:bold;
    text-decoration:none;
}

.round-button a:hover {
	font-size: 1.2em;
	width: 100%;
}