<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd">

	<context:component-scan base-package="com.techburg.autospring" />
	<context:annotation-config />
	<mvc:annotation-driven />

	<context:property-placeholder location="classpath:locations.properties" />

	<bean name="buildInfoPersistenceService"
		class="com.techburg.autospring.service.impl.BuildInfoPersistenceServiceJPAImpl">
		<property name="dBTaskExecutor" ref="dBTaskExecutor"></property>
	</bean>

	<bean name="workspacePersistenceService"
		class="com.techburg.autospring.service.impl.WorkspacePersistenceServiceJPAImpl">
		<property name="dBTaskExecutor" ref="dBTaskExecutor"></property>
		<property name="browsingObjectPersistentService" ref="noLockBrowsingObjectPersistentService"></property>
	</bean>

	<bean name="workspaceBo" class="com.techburg.autospring.bo.impl.WorkspaceBoImpl">
	</bean>

	<bean name="buildInfoBo" class="com.techburg.autospring.bo.impl.BuildInfoBoImpl">
	</bean>

	<bean name="dBTaskLockFactory"
		class="com.techburg.autospring.factory.impl.DBTaskLockFactorySimpleImpl"></bean>

	<bean name="dBTaskExecutor"
		class="com.techburg.autospring.db.task.impl.ThreadPoolDBTaskExecutorImpl">
	</bean>

	<bean name="buildStreamService"
		class="com.techburg.autospring.service.impl.MapBasedBuildStreamServiceImpl">
	</bean>

	<bean name="buildDataService"
		class="com.techburg.autospring.service.impl.BuildDataServiceImpl">
	</bean>

	<bean name="buildTaskProcessor"
		class="com.techburg.autospring.task.impl.BuildTaskProcessorSemaphoreImpl">
		<property name="browsingObjectPersistentService" ref="browsingObjectPersistentService"></property>
	</bean>

	<bean name="notificationPersistenceService"
		class="com.techburg.autospring.service.impl.NotificationDummyPersistenceImpl">
	</bean>

	<bean name="workspaceFileUploadFilterBean"
		class="com.techburg.autospring.filter.WorkspaceFileUploadFilter">
		<property name="acceptedFileTypes">
			<array>
				<value>application/zip</value>
				<value>application/x-zip</value>
				<value>application/x-zip-compressed</value>
			</array>
		</property>
		<property name="multipartResolver" ref="multipartResolver"></property>
	</bean>

	<bean name="workspaceFileSystemDelegate"
		class="com.techburg.autospring.delegate.impl.WorkspaceFileSystemDelegateImpl">
	</bean>

	<!-- Test refer bean by property -->
	<bean name="notificationSenderService"
		class="com.techburg.autospring.service.impl.NotificationSenderServiceSimpleImpl">
		<property name="gCMNotificationBo" ref="gcmNotificationBo"></property>
	</bean>

	<bean name="waitingBuildTaskQueue"
		class="com.techburg.autospring.task.impl.BuildTaskQueueDeImpl">
	</bean>

	<bean name="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="defaultManager" />
	</bean>

	<bean name="gcmNotificationBo" class="com.techburg.autospring.bo.impl.GCMNotificationBoImpl">
		<property name="rootURLPath"
			value="${com.techburg.autospring.bo.impl.GCMNotificationBoImpl.rootURLPath}"></property>
	</bean>

	<bean name="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	</bean>

	<bean name="buildTaskFactory"
		class="com.techburg.autospring.factory.impl.UnixScriptBuildTaskFactoryImpl">
		<property name="logFileLocation"
			value="${com.techburg.autospring.factory.impl.UnixScriptBuildTaskFactoryImpl.logFileLocation}"></property>
		<property name="defaultScriptFileLocation"
			value="${com.techburg.autospring.factory.impl.UnixScriptBuildTaskFactoryImpl.defaultScriptFileLocation}"></property>
		<property name="defaultScriptFileName"
			value="${com.techburg.autospring.factory.impl.UnixScriptBuildTaskFactoryImpl.defaultScriptFileName}"></property>
	</bean>

	<bean name="workspaceFactory"
		class="com.techburg.autospring.factory.impl.WorkspaceFactoryImpl">
		<property name="workspaceDefaultDirectoryPath"
			value="${com.techburg.autospring.factory.impl.WorkspaceFactoryImpl.workspaceDefaultDirectoryPath}"></property>
		<property name="workspaceDefaultBuildScriptFileName"
			value="${com.techburg.autospring.factory.impl.WorkspaceFactoryImpl.workspaceDefaultBuildScriptFileName}"></property>
		<property name="githubWorkspaceScriptDirectoryPath"
			value="${com.techburg.autospring.factory.impl.WorkspaceFactoryImpl.githubWorkspaceScriptDirectoryPath}"></property>
	</bean>

	<!-- <bean name="browsingService" class="com.techburg.autospring.service.impl.BrowsingServiceImpl"> 
		</bean> -->

	<bean name="browsingServiceDelegate"
		class="com.techburg.autospring.service.impl.BrowsingServiceDelegateImpl">
		<property name="supportedFileNames">
			<array>
				<value>makefile</value>
				<value>Makefile</value>
			</array>
		</property>
		<property name="supportedFileExts">
			<array>
				<value>.c</value>
				<value>.h</value>
				<value>.cpp</value>
				<value>.java</value>
				<value>.rb</value>
				<value>.py</value>
				<value>.r</value>
				<value>.pl</value>
				<value>.js</value>
				<value>.html</value>
				<value>.htm</value>
				<value>.jsp</value>
				<value>.css</value>
				<value>.log</value>
				<value>.properties</value>
				<value>.xml</value>
				<value>.json</value>
				<value>.plist</value>
				<value>.conf</value>
				<value>.sh</value>
			</array>
		</property>
		<property name="browsingRootPath"
			value="${com.techburg.autospring.service.impl.BrowsingServiceDelegateImpl.browsingRootPath}"></property>
	</bean>

	<bean name="browsingObjectPersistentService"
		class="com.techburg.autospring.service.impl.BrowsingObjectPersistentJPAImpl">
		<property name="dBTaskExecutor" ref="dBTaskExecutor"></property>
	</bean>

	<bean name="browsingObjectBo" class="com.techburg.autospring.bo.impl.BrowsingObjectBoImpl">
	</bean>

	<!-- Should only wired by explicit reference. In this app, only in the case 
		of workspacePersistenceService -->
	<bean name="noLockBrowsingObjectPersistentService"
		class="com.techburg.autospring.service.impl.BrowsingObjectPersistentJPAImpl">
		<property name="dBTaskExecutor" ref="noLockDBTaskExecutor"></property>
	</bean>

	<bean name="noLockDBTaskExecutor"
		class="com.techburg.autospring.db.task.impl.NoLockingDBTaskExecutorImpl">
	</bean>

</beans>